*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header style */
.navbar-container{
    background-color: #255EE9;
    padding: 1rem 0rem;
}

.top-navbar{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

/* nav multiple style */
.nav-links, .nav-logo {
    padding: 0.3rem;
}

.nav-btn-container, .nav-logo{
    min-width: 150px;
}

.nav-logo img{
    vertical-align: middle;
}

.nav-links{
    flex-grow: 1;
}

.top-navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.top-navbar ul a{
    padding: 0rem 1.2rem;
    text-decoration: none;
    color: white;
}

.nav-btn-container{
    display: flex;
    justify-content: flex-end;
}

.white-little-btn{
    background-color: white;
    border-radius: 50px;
    padding: .7rem 0.9rem;
    border: none;
}

.white-large-btn{
    font-size: 19px;
    background-color: white;
    border-radius: 50px;
    padding: .9rem 1.2rem;
    border: none;
}

.white-large-btn::before{
    content: "\01F82B";
    font-size: 21px;
    line-height: 100%;
    vertical-align: middle;
}

.black-little-btn{
    background-color: #23272A;
    color: white;
    border-radius: 50px;
    padding: .7rem 0.9rem;
    border: none;
}

.black-large-btn{
    font-size: 19px;
    background-color: #23272A;
    color: white;
    border-radius: 50px;
    padding: 0.9rem 1.2rem;
    border: none;
}


header > section{
    display: flex;
    background-image: url("../img/jumbo.png");
    background-size: 100%;
    background-position: center;
    padding: 40px 0px;
    min-height: 620px;
    /* justify-content: center; */
}

.box-1{
    margin: auto;
    max-width: 845px;
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

h1{
    font-size: 46px;
    color: white;
}

.box-1 p{
    font-size: 19px;
    line-height: 160%;
    margin-top: 2.1rem;
    margin-bottom: 1rem;
    color: white;
}

/* main style */
.wave svg{
    display: block;
    color: #F6F6F6;
}

.wave-reverse{
    transform: scaleX(-1);
    background-color: #F6F6F6;
}

.wave-reverse svg{
    color: white;
    display: block;
}

.sezione-1{
    padding: 7rem 0rem;
}

.box-2{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    /* min-height: 500px; */
}

.box-2 .img-container{
    width: 60%;
}

.box-2 .text-container{
    width: 40%;
}

.box-2 .text-container h2{
    margin-top: 2.5rem;
    font-size: 48px;
    margin-bottom: 2rem;
}

.box-2 .text-container p{
    font-size: 18px;
    line-height: 160%;
}

section.sezione-2{
    padding: 7rem 0rem;
    background-color: #F6F6F6;
}

section.sezione-3{
    padding: 7rem 0rem 0rem;
    background-color: #F6F6F6
}

.box-3{
    margin: auto;
    max-width: 1200px;
    min-height: 900px;
    text-align: center;
}

.box-3 h2{
    font-size: 48px;
    margin-bottom: 2rem;
}

.box-3 p{
    font-size: 18px;
    line-height: 160%;
}

.box-3 img{
    width: 100%;
}

.download-container{
    margin: 0 auto;
    text-align: center;
    background-color: #F6F6F6;
    vertical-align: middle;
    padding: 1rem 0rem 8rem;
}

.question-container{
    display: flex;
    min-height: 60px;
    background-image: url(/img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 3rem;
}

.question-container h4{
    font-size: 26px;
}

.lilla-large-btn{
    font-size: 19px;
    border-radius: 50px;
    padding: .9rem 1.2rem;
    border: none;
    background-color: #7289DA;
    color: white;
}

.lilla-large-btn::before{
    content: "\01F82B";
    font-size: 21px;
    line-height: 100%;
    vertical-align: middle;
    margin-right: .2rem;
}

/* footer style */
.foot-sezione-1{
    padding: 4rem 0px 0rem;
    background-color: #23272a;
}

.box-4{
    display: flex;
    margin: auto;
    max-width: 1200px;
    min-height: 500px;
    justify-content: space-between;
}

.box-4 .img{
    max-width: 250px;
}

.box-4 .text-column{
    border-left: 1px solid white;
    background-color: #20b2aa;
    width: 15%;
}

.foot-sezione-2{
    padding: 1.7rem 0rem 3rem;
    background-color: #23272a;
}

.box-5{
    display: flex;
    margin: auto;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.lilla-btn{
    background-color: #7289DA;
    color: white;
}

hr {
    background-color: #7289DA;
    border: none;
    height: 2px;
    margin: 0 auto;
    max-width: 1200px;
    opacity: .4;
}

.social-icons{
    display: flex;
    gap: 1.5rem;
}

.footer-title{
    font-size: 32px;
    color: #7289DA;
}

.language{
    display: flex;
    margin: 1.5rem 0rem;
    gap: .3rem;
    color: white;
}

.language .bandiera{
    width: 9%;
    align-self: center;
}

.product-column ul{
    list-style: none;
}

.product-column ul li{
    color: white;
    margin-bottom: 1.6rem;
}

.product-column ul li:first-child{
    font-weight: bold;
    color: #7289DA;
}

